.addSomething{
	padding-bottom: 1%;
	text-align: right;
}

.buildingCardTitle{
	font-weight: bold;
	text-transform: uppercase;
}

.spanTitle, .spanValue{
	line-height: 50px;
}

.spanValue{
	font-weight: bold;
}

#addApartmentLink{
	margin-right: 0;
}